.auth-page {
  //https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  display: flex;
  flex-flow: row;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  @auth-page-form-width: 400px;


  .auth-page-switch-buttons {
    width: @auth-page-form-width;
  }

  .auth-page-input-form {
    flex-direction: column;
    align-items: center;
    width: @auth-page-form-width;
    padding: 30px;
    background-color: rgba(223, 223, 223, 0.8);
  }
}

.message-app {
  display: grid;
  height: 100%;

  .message-app-header {
    margin-bottom: 0px;
  }

  .message-app-content {
    height: 100%;

    .channel-list {
      width: 30em !important;

      .channel-list-header-text {
        position: relative;
        .channel-list-header-button {
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
      .channel-item {

        .channel-editing-buttons {
          float: right;
        }
      }
    }

    .chat-window {
      width: 90%;

      .message-form {
        width: 90%;
      }
    }
  }
}

