.auth-page {
  height: 100%;

  .auth-page-grid {

    .auth-page-switch {
      max-width: 450px;
      padding-bottom: 0;
    }

    .auth-page-input-form {
      padding-top: 0;
      width: 450px;
    }

    .login-form-grid-column {
      max-width: 450px;
    }
  }
}

.message-app {
  height: 100%;

  .message-app-header {
    margin-bottom: 0px;
  }

  .message-app-content {
    height: 100%;

    .channel-list {
      width: 30em !important;

      .channel-list-header-text {
        position: relative;
        .channel-list-header-button {
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
      .channel-item {

        .channel-editing-buttons {
          float: right;
        }
      }
    }

    .chat-window {
      width: 90%;

      .message-form {
        width: 90%;
      }
    }
  }
}

