.auth-page {
  //https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  display: flex;
  flex-flow: row;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  @auth-page-form-width: 400px;

  .auth-page-switch-buttons {
    width: @auth-page-form-width;
  }

  .auth-page-input-form {
    flex-direction: column;
    align-items: center;
    width: @auth-page-form-width;
    padding: 30px;
    background-color: rgba(223, 223, 223, 0.8);
  }
}

.message-app {
  display: grid;
  height: 100vh;

  @sidebar-width: 300px;
  @header-height: 60px;
  @bottom-row-1-height: 150px;
  @bottom-row-2-height: 200px;

  grid-template-columns: @sidebar-width auto @sidebar-width;
  grid-template-rows: @header-height auto @bottom-row-1-height @bottom-row-2-height;
  grid-template-areas:
          "app-header       channel-header  user-header"
          "channel-list     message-list    user-list"
          "channel-list     message-list    channel-attachments"
          "browse-channels  message-form    channel-attachments";

  justify-items: stretch;
  align-items: stretch;

  .app-header {
    grid-area: app-header;
    border: 1px solid black;
    background: azure;

    .app-header-text {
    }
  }

  .channel-header {
    grid-area: channel-header;
    border: 1px solid black;
  }

  .user-header {
    grid-area: user-header;
    border: 1px solid black;

    display: flex;

    .user-header-icon {
      display: flex;
      flex-direction: row;
    }
  }

  .channel-list {
    grid-area: channel-list;
    justify-self: stretch;
    align-self: start;

    //padding-top: 20px;
    //padding-left: 20px;
    @channel-padding: 20px;
    padding: @channel-padding;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - @header-height - @bottom-row-2-height);
    overflow-y: scroll;
    flex-grow: 1;
    align-items: center;

    .channel-list-header {
      padding: 5px;
      width: @sidebar-width - @channel-padding - @channel-padding - 12px;

      .channel-list-header-input {
        width: 100%;
      }
    }
    .channel-item-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      cursor: pointer;
      width: 100%;
      height: 40px;

      .channel-item-column {
        align-self: center;
      }

      @badge-width: 46px;
      @icons-width: 20px;
      @content-width: @sidebar-width - @channel-padding - @channel-padding - @badge-width - @icons-width - 20;
      .channel-item-badge {
        width: @badge-width;
      }

      .channel-item-content {
        width: @content-width;

        .channel-item-renaming {
          width: 90%;
        }
      }

      .channel-item-icons {
        width: @icons-width;
      }
    }

    border: 1px solid black;
  }

  .browse-channels {
    grid-area: browse-channels;

    border: 1px solid black;
    justify-self: stretch;
    align-self: start;

    @channel-padding: 20px;
    padding: @channel-padding;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: @bottom-row-2-height;
    overflow-y: scroll;
    flex-grow: 1;
    align-items: center;

    .browse-channels-list {
      align-self: stretch;

      .channel-item-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 2px;
      }

      .channel-item-text {
        width: 80%;
      }

      .channel-item-label {
        width: 45px;
        text-align: center;
      }
    }

  }

  .message-list {
    grid-area: message-list;
    border: 1px solid black;

    justify-self: stretch;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - @header-height - @bottom-row-2-height);
    overflow-y: scroll;
    flex-grow: 1;
  }

  .message-form {
    grid-area: message-form;
    height: @bottom-row-2-height;

    .message-form-text-area {

    }
  }

  .user-list {
    grid-area: user-list;
    border: 1px solid black;
    //min-width: 150px;
    background: aqua;

    justify-self: stretch;
    align-self: start;

    @channel-padding: 20px;
    padding: @channel-padding;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - @header-height - @bottom-row-1-height - @bottom-row-2-height);
    overflow-y: scroll;
    flex-grow: 1;
    align-items: center;

    .user-list-items {
      align-self: stretch;

      .user-list-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 2px;
      }
    }

  }

  .channel-attachments {
    grid-area: channel-attachments;
    border: 1px solid black;
  }
}

