body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    font-size: 20px;
    color: #444444;
}


.ChatWindow {
    max-width: 1000px;
    margin: auto;
}

.MessageAppHeader {

}

.UserThumbnail {
    float: right!important;
    margin-right: -15px;
}

.message:nth-child(2n) {
    background-color: #dddddd;
}


.message__author {
    display: inline-block;
    margin-right: 8px;
    font-weight: bold;
}

.message__text {
    display: inline-block;
}


.message-list {
    padding: 8px;
    border-bottom: #444444 solid 1px;
}


.message-form {
    padding: 8px;
    display: flex;
    align-items: center;
}


.message-form__nick-input {
    width: 100px;
    margin-right: 8px;
    margin-left: 4px;
}


.message-form__message-input {
    flex: 1;
    margin-left: 4px;
    margin-right: 8px;
}


.message-form button {
    padding: 4px 16px;
    border-radius: 4px;
}
