body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    font-size: 20px;
    color: #444444;
}

.border-css {
    border:1px solid black;
}

.chat-window {
    max-width: 1000px;
    margin: auto;
}

.user-thumbnail {
    float: right!important;
    margin-right: 0px;
}

.message:nth-child(2n) {
    background-color: #dddddd;
}

.message__message-text {
    display: inline-block;
    margin-left: 3px;
}

.message-list {
    padding: 8px;
    border-bottom: #444444 solid 1px;
}

.message-form {
    padding: 8px;
    display: flex;
    align-items: center;
}

.message-form__message-input {
    flex: 1;
    margin-left: 4px;
    margin-right: 8px;
}

.message-form button {
    padding: 4px 16px;
    border-radius: 4px;
}
